<%- include('../includes/head') %>

<main class="w-full h-dvh flex items-center justify-center" data-aos="fade-right" data-aos-offset="10" data-aos-delay="100" data-aos-duration="1000">
    <div class="flex flex-col items-center justify-center">
        <h1 class="text-3xl">Erro 500</h1>
        <p class="text-action">Erro interno do servidor</p>
    </div>
</main>

<%- include('../includes/footer') %>