    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <% if (typeof script !== 'undefined' && script) { %>
        <script src="/scripts/<%= script %>"></script>
    <% } %>
    <script src="../../scripts/vendor/aos.js"></script>
</body>
</html>