<%- include('../includes/head') %>

    <main class="w-full h-full flex items-center justify-center pt-16">
        <p class="text-black">Dashboard</p>
    </main>

<%- include('../includes/footer') %>