<%- include('../includes/head') %>

    <main class="w-full h-full flex flex-col pt-16">
        <nav class="w-full h-16 flex justify-evenly md:w-[20%] md:h-full md:flex-col md:justify-start bg-white" data-aos="fade-right" data-aos-offset="10" data-aos-delay="100" data-aos-duration="1000">
            <div class="flex justify-center items-center w-full md:min-h-15 cursor-pointer hover:bg-black/10 transition-all duration-200">
                <button class="text-action cursor-pointer w-full">Fichas</button>
            </div>
            <div class="flex justify-center items-center w-full md:min-h-15 cursor-pointer hover:bg-black/10 transition-all duration-200">
                <button class="text-action cursor-pointer w-full">Atendimentos</button>
            </div>
        </nav>
    </main>

<%- include('../includes/footer') %>