<%- include('../includes/head') %>

    <main class="w-full flex flex-col pt-32 px-12 md:px-32">

        <div class="flex flex-col sm:flex-row w-full gap-3" data-aos="fade-up" data-aos-offset="10" data-aos-delay="100" data-aos-duration="1000">
            <input type="search" placeholder="Pesquisar por item" class="rounded-sm flex-1 text-center sm:text-left bg-white outline-none p-4">
            <button class="flex items-center justify-center gap-2 whitespace-nowrap rounded-sm shrink-0 w-full sm:w-48 bg-action text-white outline-none p-4 cursor-pointer hover:shadow-[0_2px_4px_0_rgba(0,0,0,0.2)] hover:-translate-y-0.5 transition-all duration-200">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none"><path d="M6 12h12M12 18V6" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                Novo atendimento
            </button>
        </div>

        <div class="mt-10 w-full overflow-x-auto" data-aos="fade-right" data-aos-offset="10" data-aos-delay="500" data-aos-duration="1000">
            
        </div>
    </main>

    <form action="/dashbaord" method="POST"></form>

<%- include('../includes/footer') %>