<%- include('../includes/head') %>

    <main class="w-full h-full flex flex-col pt-15">
        <nav class="w-full h-16 flex justify-evenly" data-aos="fade-right" data-aos-offset="10" data-aos-delay="100" data-aos-duration="1000">
            <div class="flex justify-center items-center">
                <button class="text-action">Fichas</button>
            </div>
            <div class="flex justify-center items-center">
                <button class="text-action">Atendimentos</button>
            </div>
        </nav>
    </main>

<%- include('../includes/footer') %>